In [ ]:
#Import library yang dibutuhkan
import pandas as pd
import numpy as np

In [ ]:
#Buka data pengaduan anak di pandas
data_pengaduan_anak = pd.read_excel('Data Pengaduan Anak.xlsx')
data_pengaduan_anak.head()

,No,KASUS PERLINDUNGAN ANAK,2016,2017,2018,2019,2020
0,1,Sosial dan Anak Dalam Situasi Darurat,236.0,286.0,302.0,291.0,128.0
1,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,90.0,144.0,152.0,159.0,71.0
2,101,Balita Terlantar (Korban),21.0,37.0,35.0,29.0,8.0
3,101,Anak Terlantar (Korban),26.0,30.0,28.0,33.0,12.0
4,101,Anak Mengemis (Korban),13.0,16.0,17.0,16.0,6.0

In [ ]:
#Melt data agar data bisa lebih mudah dianalisis
data_pengaduan_anak_melt = (pd.melt(data_pengaduan_anak, id_vars=['No','KASUS PERLINDUNGAN ANAK'], var_name='Tahun', value_name='total'))
data_pengaduan_anak_melt.head()

    No                            KASUS PERLINDUNGAN ANAK Tahun  total
0    1              Sosial dan Anak Dalam Situasi Darurat  2016  236.0
1  101  Anak Terlantar (Anak Penyandang Masalah Keseja...  2016   90.0
2  101                          Balita Terlantar (Korban)  2016   21.0
3  101                            Anak Terlantar (Korban)  2016   26.0
4  101                             Anak Mengemis (Korban)  2016   13.0

In [ ]:
#hilangkan data data null
data_pengaduan_anak_melt = data_pengaduan_anak_melt[data_pengaduan_anak_melt['No'].notna()]

In [ ]:
#Hilangkan data data "total sub group data"
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==1].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==2].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==3].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==4].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==5].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==6].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==7].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==8].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==9].index, inplace=True)
data_pengaduan_anak_melt.drop(data_pengaduan_anak_melt.loc[data_pengaduan_anak_melt['No']==10].index, inplace=True)

In [ ]:
# Buat fungsi untuk mencari data jawa barat saja dengan asumsi jumlah penduduk jawa barat / total nasional
def data_jawa_barat(value):
    return round(value *(49565/269603))

In [ ]:
# buat table baru untuk menghitung total jawa barat saja
data_pengaduan_anak_melt['total_jawa_barat'] = data_pengaduan_anak_melt['total'].apply(data_jawa_barat)

In [ ]:
#Buka data pengaduan anak di pandas untuk mendapatkan granularity dan sebaran data anak di jawa barat
data_ibu_hamil = pd.read_csv('jumlah_ibu_hamil_berdasarkan_kabupatenkota_data.csv')
data_ibu_hamil.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,126474,ORANG,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,51056,ORANG,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,46284,ORANG,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,79912,ORANG,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,62514,ORANG,2016

In [ ]:
#drop data yang tidak perlu
data_ibu_hamil_percentage = data_ibu_hamil.drop(columns=['id','kode_provinsi','nama_provinsi','nama_kabupaten_kota','satuan'])
data_ibu_hamil_percentage

     kode_kabupaten_kota  jumlah_ibu_hamil  tahun
0                   3201            126474   2016
1                   3202             51056   2016
2                   3203             46284   2016
3                   3204             79912   2016
4                   3205             62514   2016
..                   ...               ...    ...
130                 3275             57307   2020
131                 3276             48928   2020
132                 3277             11528   2020
133                 3278             12181   2020
134                 3279              3104   2020

[135 rows x 3 columns]

In [ ]:
#Groupby data untuk mendapatkan hasil pengelompokan berdasarkan tahun dan kota
data_ibu_hamil_percentage = data_ibu_hamil_percentage.groupby(['tahun','kode_kabupaten_kota'],).sum()
data_ibu_hamil_percentage

                           jumlah_ibu_hamil
tahun kode_kabupaten_kota
2016  3201                           126474
      3202                            51056
      3203                            46284
      3204                            79912
      3205                            62514
...                                     ...
2020  3275                            57307
      3276                            48928
      3277                            11528
      3278                            12181
      3279                             3104

[135 rows x 1 columns]

In [ ]:
# cari persentase tiap tahun dan kota untuk setiap anak
data_ibu_hamil_percentage = data_ibu_hamil_percentage.div(data_ibu_hamil_percentage.sum(level=0), level=0)
data_ibu_hamil_percentage

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

                           jumlah_ibu_hamil
tahun kode_kabupaten_kota
2016  3201                         0.125720
      3202                         0.050752
      3203                         0.046008
      3204                         0.079436
      3205                         0.062141
...                                     ...
2020  3275                         0.059982
      3276                         0.051211
      3277                         0.012066
      3278                         0.012749
      3279                         0.003249

[135 rows x 1 columns]

In [ ]:
#Simpan data ibu Hamil ke dalam csv untuk backup
data_ibu_hamil_percentage.to_csv('data_ibu_hamil_percentage.csv',index=True)

In [ ]:
# input data ibu hamil jabar
data_ibu_hamil_jabar = pd.read_csv('data_ibu_hamil_percentage.csv')
data_ibu_hamil_jabar.head()

   tahun  kode_kabupaten_kota  jumlah_ibu_hamil
0   2016                 3201          0.125720
1   2016                 3202          0.050752
2   2016                 3203          0.046008
3   2016                 3204          0.079436
4   2016                 3205          0.062141

In [ ]:
#merge data pengaduan anak jabar dengan data ibu hamil untuk mendapatkan perkiraan data pengaduan anak per kota kabupaten
data_pengaduan_anak_jabar = pd.merge(data_pengaduan_anak_melt, data_ibu_hamil_jabar, how='left', left_on='Tahun', right_on= 'tahun')

In [ ]:
# kali jumlah data pengaduan anak jawa barat dengan persentase data anak tiap kabupaten dan tiap tahun
data_pengaduan_anak_jabar ['total_kota_jabar'] = data_pengaduan_anak_jabar ['total_jawa_barat'] * data_pengaduan_anak_jabar ['jumlah_ibu_hamil']

In [ ]:
# drop data data yang tidak dibutuhkan
data_pengaduan_anak_jabar_clean = data_pengaduan_anak_jabar.drop(columns=['tahun','total','jumlah_ibu_hamil'])
data_pengaduan_anak_jabar_clean

,No,KASUS PERLINDUNGAN ANAK,Tahun,total_jawa_barat,kode_kabupaten_kota,total_kota_jabar
0,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3201,2.137241
1,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3202,0.862778
2,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3203,0.782138
3,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3204,1.350406
4,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3205,1.056403
...,...,...,...,...,...,...
11200,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,186,3275,11.156562
11201,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,186,3276,9.525333
11202,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,186,3277,2.244278
11203,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,186,3278,2.371405
11204,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,186,3279,0.604289

In [ ]:
# save data kedalam csv untuk di proses lebih lanjut
data_pengaduan_anak_jabar_clean.to_csv('data_pengaduan_anak_jabar_clean.csv',index=False)