In [ ]:
#Import library yang dibutuhkan
import pandas as pd
import numpy as np

In [ ]:
#Buka data pengaduan anak yang sudah kita cleaning di proses 1 di pandas
data_pengaduan_anak = pd.read_csv('data_pengaduan_anak_jabar_clean.csv')
data_pengaduan_anak.head()

,No,KASUS PERLINDUNGAN ANAK,Tahun,total_jawa_barat,kode_kabupaten_kota,total_kota_jabar
0,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3201,2.137241
1,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3202,0.862778
2,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3203,0.782138
3,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3204,1.350406
4,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,17,3205,1.056403

In [ ]:
#Buka data kekerasan rumah tangga di pandas
data_kdrt = pd.read_csv('jml_korban_kekerasan_dalam_rumah_tangga_bedasarkan_jk_data.csv')
data_kdrt.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_korban,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,LAKI-LAKI,0,KORBAN,2018
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEREMPUAN,1,KORBAN,2018
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,LAKI-LAKI,1,KORBAN,2018
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PEREMPUAN,9,KORBAN,2018
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,LAKI-LAKI,1,KORBAN,2018

In [ ]:
# drop data yang tidak dibutuhkan di data kdrt
data_kdrt = data_kdrt.drop(columns=['id','kode_provinsi','nama_provinsi','nama_kabupaten_kota','satuan'])
data_kdrt

     kode_kabupaten_kota jenis_kelamin  jumlah_korban  tahun
0                   3201     LAKI-LAKI              0   2018
1                   3201     PEREMPUAN              1   2018
2                   3202     LAKI-LAKI              1   2018
3                   3202     PEREMPUAN              9   2018
4                   3203     LAKI-LAKI              1   2018
..                   ...           ...            ...    ...
103                 3277     PEREMPUAN              1   2021
104                 3278     LAKI-LAKI              0   2021
105                 3278     PEREMPUAN              0   2021
106                 3279     LAKI-LAKI              0   2021
107                 3279     PEREMPUAN              0   2021

[108 rows x 4 columns]

In [ ]:
# manipulasi data kdrt dan disimulasikan data 2021 yang ada diubah menjadi data 2020 agar bisa berkorelasi dengan data kekerasan anak
data_kdrt['tahun'] = data_kdrt['tahun'].map({2018:2018 , 2021:2020})

In [ ]:
# grouping data untuk mendapat data yang lebih bersih
data_kdrt_group = data_kdrt.groupby(['tahun','kode_kabupaten_kota']).sum()
data_kdrt_group.head()

                           jumlah_korban
tahun kode_kabupaten_kota
2018  3201                             1
      3202                            10
      3203                             1
      3204                             7
      3205                             0

In [ ]:
# merge data antara data pengaduan anak dan data kdrt
data_kdrt_dan_pengaduan_anak = pd.merge(data_pengaduan_anak, data_kdrt_group, how='left', left_on=['Tahun','kode_kabupaten_kota'], right_on= ['tahun','kode_kabupaten_kota'])

In [ ]:
# drop kolom yang tidak digunakan
data_kdrt_dan_pengaduan_anak = data_kdrt_dan_pengaduan_anak.drop(columns=['total_jawa_barat'])
data_kdrt_dan_pengaduan_anak

,No,KASUS PERLINDUNGAN ANAK,Tahun,kode_kabupaten_kota,total_kota_jabar,jumlah_korban
0,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,3201,2.137241,NaN
1,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,3202,0.862778,NaN
2,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,3203,0.782138,NaN
3,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,3204,1.350406,NaN
4,101,Anak Terlantar (Anak Penyandang Masalah Keseja...,2016,3205,1.056403,NaN
...,...,...,...,...,...,...
11200,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,3275,11.156562,0.0
11201,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,3276,9.525333,33.0
11202,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,3277,2.244278,1.0
11203,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,3278,2.371405,0.0
11204,**,"Perlindungan Lainnya,… (Anak Sebagai Korban Ke...",2020,3279,0.604289,0.0

In [ ]:
# Rename column name agar memudahkan disaat analisa data kedepannya
data_kdrt_dan_pengaduan_anak.rename(columns = {'total_kota_jabar':'total_kekerasan_anak', 'jumlah_korban':'total_kdrt'}, inplace = True)

In [ ]:
# save data kedalam csv untuk analisa lebih lanjut
data_kdrt_dan_pengaduan_anak.to_csv('data_kdrt_dan_pengaduan_anak.csv',index=False)